# Enforce LF normalization for all text files
* text=auto

# Line endings for specific file types
*.sh eol=lf
*.cmd eol=crlf
*.yml eol=lf
*.java eol=lf
*.properties eol=lf
*.xml eol=lf

# Treat .sock files as binary (non-text)
*.sock -text
